<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler" javaType="com.solsol.heycalendar.domain.ScholarshipType"/>
        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler" javaType="com.solsol.heycalendar.domain.PaymentMethod"/>
        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler" javaType="com.solsol.heycalendar.domain.EvaluationMethod"/>
        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler" javaType="com.solsol.heycalendar.domain.RecruitmentStatus"/>
        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler" javaType="com.solsol.heycalendar.domain.EligibilityField"/>
        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler" javaType="com.solsol.heycalendar.domain.EligibilityOperator"/>
        <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler" javaType="com.solsol.heycalendar.domain.ExchangeState"/>
    </typeHandlers>
</configuration>